@media (max-width:460px){
  section{
    padding: 0;
  }

  .aside-left0{
    display: none;

  }
  section .aside-left0 img {
    display: none;
  }
  
  .aside-right{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .aside-right h1{
    margin-top: 20px;
    font-size: 25px;
  }
  
  .aside-right h2{
    font-size: 20px;
  }

  .aside-right p{
    font-size: 13px;
  }

  .see-more {
    width: 149px;
    height: 45px;
    margin-bottom: 20px;
  }
}