@media (max-width:460px){
  .services  h1{
    font-size: 25px;
  }
  
  .services .boxes .serv-box {
    width: 380px;
  }

  .services .boxes .serv-box img{
    width: 30px;
    height: 30px;
  }
  .services .boxes .serv-box h2{
    font-size: 20px;
  }

  .services .boxes .serv-box p{
    font-size: 13px;
  }

  .read-more {
    width: 149px;
    height: 45px;
    
  }
}