section{
  background-color: var(--secondary-background);
  padding: 70px 100px;
}

section .container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  color: var(--color-white);
  background-color: transparent;
  overflow: hidden;
}

/* image */
.aside-left0 {
  background-color: transparent;
  position: relative;
  z-index: 0; /* Set a lower z-index */
  Width:442.79px;
  Height:437.15px;
  
}

.aside-left0::before {
  position: absolute;
  content: '';
  top: 36px;
  left: 2px;
  width: 430px;
  height: 396px;
  background: transparent;
  border-radius: 50%;
  border: 80px solid var(--primary-color);
  box-shadow: 0 0 25px var(--primary-color) ;
  z-index: -1;
  transition: all 0.4s;
}

.aside-left0:hover::before{
  border: 80px solid var(--color-hover);
}

section .aside-left0 img {
  border-radius: 50%;
  width: 435px;
  height: 430px;
  background-color: transparent;
  z-index: 1; 
}

.aside-left
,.aside-right{
  background-color: transparent;
  padding: 0px 135px 0 0;
}

.aside-right h1{
  font-weight: 900;
  background-color: transparent;
  text-shadow: 0 0 25px var(--primary-color) ;
}

.aside-right h1 span{
  color: var(--primary-color);
  margin-left: 5px;
  background-color: transparent;
}

.aside-right h2{
  background-color: transparent;
}

.aside-right p{
  margin-top: 10px;
  text-indent: 20px;
  background-color: transparent;
}

/* button */
.see-more {
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 5px;
  color: var(--color-white);
  background-color: var(--primary-color);
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s;
  border-radius: 22px;
  border: none;
  box-shadow: 0 0 30px var(--primary-color);
  width: 159px;
  height: 55px;
}

.see-more:hover {
  background-color: var(--color-dark);
  color: var(--primary-color);
  box-shadow: 0 0 0px var(--primary-color);
  padding-bottom: 0px;
}