@font-face {
  font-family: "Inter";
  src: url(../asseet/font/Inter-Bold.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url(../asseet/font/Inter-Medium.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../asseet/font/Inter-Regular.woff2);
  font-weight: 500;
}
* {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);

}

:root {
  --background-color:       #1C2226;
  --secondary-background:   #25282A;  
  --box-background:         #1E1E1E;
  --color-hover:            #192f44;
  --primary-color:          #0080FF;
  --secondary-color:        #393f43;
  --color-dark:             #000;
  --color-blue:             #3498da;
  --semi-dark:              #2f3539;
  --color-transparent-dark: #0000006d;
  --color-white:            #fff;
  --gray-color:             #808080;
  --gray-transparent-color: #9e9e9e73;
  --red-color:              #F0644B;
  --color-green:            #15a184;

  --filter-white:   invert(100%) sepia(100%) saturate(0%) hue-rotate(67deg) brightness(106%) contrast(101%);
  --filter-gray:    invert(55%) sepia(0%) saturate(2121%) hue-rotate(12deg) brightness(90%) contrast(97%);
  --filter-red:     invert(56%) sepia(48%) saturate(4758%) hue-rotate(333deg) brightness(101%) contrast(88%);
  --filter-green:   invert(46%) sepia(86%) saturate(396%) hue-rotate(118deg) brightness(93%) contrast(95%);
  --filter-primary: invert(29%) sepia(25%) saturate(6283%) hue-rotate(198deg) brightness(98%) contrast(84%);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
