#contact{
  background-color:var( --background-color);
}

#contact h1{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: 0 0 80px var(--primary-color);
  line-height:38.73px;
  padding: 35px;
  margin-bottom: 80px;
}

#contact h1 span{
  color: var(--primary-color);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 32px;
  text-shadow: 0 0 80px var(--primary-color);
}

#contact form{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

/* input-container */
#contact form .con{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}

#contact form .inbut-f{
  padding: 20px 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact form .inbut-f input{
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  width: 400px;
  height: 79px;
  border-radius: 10px;
  padding: 0 20px;
  border: none;
  transition: all 0.3s;
  background-color: var( --box-background);
  color: var(--color-white);
}

#contact form .inbut-f input:hover{
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
}

#contact form .inbut-f input:hover::-webkit-input-placeholder {
  color: var(--color-white);
}

/* message */
#contact form .text-area{
  padding: 0 20px;
}

#contact form #message{
  border: none;
  background-color: var( --box-background);
  border-radius: 10px;
  width: 1068px;
  height: 417px;
  padding: 20px 19px;
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
  transition: all 0.3s;
  resize: none;
}

#contact form #message:hover{
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
}

#contact form #message:hover::-webkit-input-placeholder {
  color: var(--color-white);
}

/* button */
.send-bt {
  font-size: 32px;
  font-weight: 700;
  padding: 11px 65px;
  color: var(--color-white);
  background-color: var(--primary-color);
  text-transform: capitalize;
  position: relative;
  transition: all 0.5s;
  border-radius: 22px;
  border: none;
  box-shadow: 0 0 30px var(--primary-color);
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.send-bt:hover {
  background-color: var(--color-dark);
  color: var(--primary-color);
  padding: 16px 70px;
}

