.down {
  font-size: 15px;
  font-weight: 900;
  padding-bottom: 5px;
  color: var(--color-white);
  background-color: var(--primary-color);
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s;
  border-radius: 22px;
  border: none;
  box-shadow: 0 0 30px var(--primary-color);
  width: 203px;
  height: 55px;
  overflow: hidden;
}

.down:hover {
  background-color: var(--color-dark);
  color: var(--primary-color);
  box-shadow: 0 0 0px var(--primary-color);
  padding-bottom: 0px;
}

@media (max-width:460px) {
  .down{
    width: 150px;
    height: 45px;
    margin-bottom: 30px;
  }
  
}


