/* Footer.css */
.footer {
  color: var( --secondary-background); /* Dark text color */

  text-align: left;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--gray-color);
  padding-top: 10px;
}

.footer-bottom p{
  color: var(--gray-color);
  
}

.footer-bottom p .link{
  padding-left: 5px;
}

@media (max-width:460px){
  .footer-bottom p{
    font-size: 15px;
  }
}
