.gallary{
  padding-top: 90px;
}

.gallary h1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 900;
  margin: 0;
  padding-bottom: 23px;
  color: var(--color-white);
}

.gallary h1 span{
  color: var(--primary-color);
  margin-left: 5px;
}

.backg{
  padding: 20px;
  width: 100%;
  background-color: var(--gray-transparent-color);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.backg .box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px;
}

.backg .box a {
  width: 100%;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;

}

.backg .box a img{
  width: 100%;
  border-radius: 25px;
  transition: all 0.5s;
}

.backg .box h1{
  text-transform: capitalize;
  color: var( --color-white);
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.backg .box p{
  text-transform: capitalize;
  color: var( --color-white);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s;

}

.backg .box a:hover img{
  width: 95%;
}

.backg .box a:hover h1{
  letter-spacing: 2px;
}

.backg .box a:hover p{
color: var(  --gray-color);
}

